pandas
numpy
seaborn
matplotlib
wordcloud

telethon
python-dotenv


ipykernel
ipywidgets


opencv-python
torch 
torchvision
ultralytics


fastapi 
uvicorn 
sqlalchemy 
pydantic[dotenv] 
psycopg2-binary